@import "./src/scss/global-variables.scss";

.product-form-container {
    &__image {
        width: 350px;
        max-width: 100%;
        color: #444;
        padding: 5px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #555;

        &::file-selector-button {
            margin-right: 20px;
            border: none;
            background: $accent;
            padding: 10px 20px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: background .2s ease-in-out;

            &:hover {
                background: #084cdf;
            }
        }
    }
}
  